{% extends 'app/base.html' %}

{% block js %}

<script>
    function eliminarSedes(id){
        Swal.fire({
            "title": "¿Estas seguro?", 
            "text": "esta acción no se puede deshacer",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, Eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/eliminar_sedes/"+id+"/"
            }
        })
    }
</script>
{% endblock %}

{% block contenido %}
{% load humanize %}

<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <table>
                    <tr>
                        <th>Nombre Sede</th>
                        <th>Ciudad</th>
                        <th>Opciones</th>
                
                    </tr>
                    {% for s in Sedes %}
                    <tr>
                        <td>{{ s.nombre_sede | title }}</td>
                        <td>{{ s.ciudad | title }}</td>
                        <td>
                            <a href="{% url 'modificar_sedes' s.id %}" class="btn btn-info btn-sm">Modificar</a>
                            <a href="#" onclick="eliminarSedes({{ s.id }})" class="btn btn-info btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {%endfor%}   
                </table>
                <hr>
                <div>
                    {% include 'app/paginator.html' %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}