{% extends 'app/base.html' %}

{% block contenido %}
{% load humanize %}

<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <table>
                    <tr>
                        <th>Codigo carrera</th>
                        <th>Nombre carrera</th>
                        <th>Vigente</th>
                        <th>Facultad</th>
                    </tr>
                    {% for c in Carreras %}
                    <tr>
                        <td>{{ c.codigo_carrera | title }}</td>
                        <td>{{ c.nombre_carrera | title }}</td>
                        <td>{{ c.vigente | title  }}</td>
                        <td>{{ c.facultad | title }}</td>
                    </tr>
                    {%endfor%}   
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}