<!DOCTYPE html>


<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú despegable</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
</head>
<body>
    
    <nav class="nav">
        <ul class="list">

            <li class="list__item">
                <div class="list__button">
                    <img src="{% static 'app/assets/dashboard.svg' %}" class="list__img">
                    <a href="Index.html" class="nav__link">Inicio</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="{% static 'app/assets/docs.svg' %}" class="list__img">
                    <a href="#" class="nav__link">Servicios</a>
                    <img src="{% static 'app/assets/arrow.svg' %}" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="Ciudades.html" class="nav__link nav__link--inside">Ciudades</a>
                    </li>

                    <li class="list__inside">
                        <a href="Sedes.html" class="nav__link nav__link--inside">Sedes</a>
                    </li>
                    
                    <li class="list__inside">
                        <a href="Facultades.html" class="nav__link nav__link--inside">Facultades</a>
                    </li>

                    <li class="list__inside">
                        <a href="Carreras.html" class="nav__link nav__link--inside">Carreras</a>
                    </li>

                    <li class="list__inside">
                        <a href="Ramos.html" class="nav__link nav__link--inside">Ramos</a>
                    </li>

                    <li class="list__inside">
                        <a href="RamoC.html" class="nav__link nav__link--inside">Ramo Carrera</a>
                    </li>

                    <li class="list__inside">
                        <a href="PerfilesU.html" class="nav__link nav__link--inside">Perfiles de Usuario</a>
                    </li>

                    <li class="list__inside">
                        <a href="Usuario.html" class="nav__link nav__link--inside">Usuario</a>
                    </li>


                    <li class="list__inside">
                        <a href="Malla.html" class="nav__link nav__link--inside">Malla</a>
                    </li>
                </ul>

            </li>


            <li class="list__item">
                <div class="list__button">
                    <img src="{% static 'app/assets/message.svg' %}" class="list__img">
                    <a href="Contacto.html" class="nav__link">Contacto</a>
                </div>
            </li>

        </ul>
    </nav>

    
    <script src="{% static 'app/js/main.js' %}"></script>
</body>
</html>